.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: bisque;
    row-gap: 50px;
    column-gap: 50px;
}


.whoareyou {
    grid-column: 2/4;
    margin-left: 60px;
}

.contbill {
    top: 330px;
}

.container img {
    width: 234px;
    height: 340px;
    align-items: center;
}

.name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.role {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    transform: rotate(90deg);
    text-transform: uppercase;
}

.contsaba {
    margin-top: 80px;
    margin-left: 20px;
}


.contsky {
    margin-top: 20px;
}

.contgriff {
    margin-top: 80px;
}

.contstan {
    margin-top: 20px;
}

@media screen and (max-width: 700px){
    .container {
        grid-template-columns: 50% 50%;
    }

    .whoareyou {
        grid-column: 2/3;
    }

    .contgriff {
        margin-top: 0px;
    }
}
